<div class="products__card card">
   <div class="card__body">
        <a href="" class="card__link">
            <div class="card__slider swiper">
                <div class="card__wrapper swiper-wrapper">
                    <div class="card__slide swiper-slide">
                        <div class="card__image-ibg">
                            <img data-src="@img/card/photo.png" class="lozad" alt="photo">
                        </div>
                    </div>
                    <div class="card__slide swiper-slide">
                        <div class="card__image-ibg">
                            <img data-src="@img/card/photo.png" class="lozad" alt="photo">
                        </div>
                    </div>
                    <div class="card__slide swiper-slide">
                        <div class="card__image-ibg">
                            <img data-src="@img/card/photo.png" class="lozad" alt="photo">
                        </div>
                    </div>
                </div>
                <button class="card__btn card__btn--prev card-slider-btn-prev _icon-slider-arrow"></button>
                <button class="card__btn card__btn--next card-slider-btn-next _icon-slider-arrow"></button>
            </div>
        </a>
        <div class="card__labels labels-card">
            <span class="labels-card__label labels-card__label--red">ХИТ</span>
            <span class="labels-card__label labels-card__label--green">Новинка</span>
        </div>
        <button class="card__btn-compare _icon-balance-scale"></button>
    </div>
    <div class="card__content">
        <h5 class="card__title _title-md _fw-600"><a href="" class="card__title-link">@@title</a></h5>
        <ul class="card__characteristics characteristics-card">
            <li class="characteristics-card__item _icon-accumulator">2000 mAh</li>
            <li class="characteristics-card__item _icon-power">1,2 л.с.</li>
            <li class="characteristics-card__item _icon-speedometer">60 км/ч</li>
            <li class="characteristics-card__item _icon-timer">5 часов</li>
        </ul>
        <div class="card__options">
            <div class="card__prices prices-card">
                <div class="prices-card__old-price">39 900 ₽</div>
                <div class="prices-card__price">29 900 ₽</div>
            </div>
            <div class="card__actions actions-card">
                <button class="actions-card__btn actions-card__btn--cart _icon-cart-outline"></button>
                <button class="actions-card__btn actions-card__btn--favorite _icon-favorite-outline"></button>
            </div>
        </div>
        <a href="" class="card__btn-buy _btn _btn--purple _btn--small">Купить в 1 клик</a>
    </div>
</div>