<div class="promo-cards__item promo-card">
    <div class="promo-card__content">
        <h3 class="promo-card__title _title-xl">Хотите проверить товар перед покупкой?</h3>
        <p class="promo-card__text">Продемонстрируем нужный товар онлайн или в магазине</p>
        <a href="#!" class="promo-card__link _link-arrow _icon-arrow">Подробнее</a>
    </div>
    <div class="promo-card__decor"></div>
    <div class="promo-card__image">
        <img src="@img/promo-cards/03.png" alt="image">
    </div>
</div>

<div class="promo-cards__item promo-card">
    <div class="promo-card__content">
        <h3 class="promo-card__title _title-xl">Нашли Kugoo Jilong дешевле?</h3>
        <p class="promo-card__text">Сообщите нам в каком магазине цена ниже, а мы сделаем вам крутое спецпредложение!</p>
        <a href="#!" class="promo-card__link _link-arrow _icon-arrow">Да, нашли дешевле</a>
    </div>
    <div class="promo-card__decor"></div>
    <div class="promo-card__image">
        <img src="@img/promo-cards/04.png" alt="image">
    </div>
</div>

<div class="promo-cards__item promo-card">
    <div class="promo-card__content">
        <h3 class="promo-card__title _title-xl">14 дней на обмен и возврат</h3>
        <p class="promo-card__text">Если вас, что-то не устроит в товаре, мы обменяем его на новый или вернем деньги</p>
    </div>
    <div class="promo-card__decor"></div>
    <div class="promo-card__image">
        <img src="@img/promo-cards/05.png" alt="image">
    </div>
</div>

<div class="promo-cards__item promo-card">
    <div class="promo-card__content">
        <h3 class="promo-card__title _title-xl">1 год на самокаты</h3>
        <p class="promo-card__text">Обеспечиваем гарантийные обязательства на весь ассортимент самокатов в стандартной комплектации</p>
    </div>
    <div class="promo-card__decor"></div>
    <div class="promo-card__image">
        <img src="@img/promo-cards/06.png" alt="image">
    </div>
</div>

<div class="promo-cards__item promo-card">
    <div class="promo-card__content">
        <h3 class="promo-card__title _title-xl">Расширенная гарантия 2 года для версии MAX</h3>
    </div>
    <div class="promo-card__decor"></div>
    <div class="promo-card__image">
        <img src="@img/promo-cards/07.png" alt="image">
    </div>
</div>

<div class="promo-cards__item promo-card">
    <div class="promo-card__content">
        <h3 class="promo-card__title _title-xl">Расширенная гарантия 3 года для версии VIP</h3>
    </div>
    <div class="promo-card__decor"></div>
    <div class="promo-card__image">
        <img src="@img/promo-cards/08.png" alt="image">
    </div>
</div>