.prices-block {
	// .prices-block__container
	&__container {
	}

	// .prices-block__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(18, 35);
		}
	}

	// .prices-block__caption
	&__caption {
		@include adaptiveValue('font-size', 20, 16, 1110, 767.98, 1);
		line-height: math.div(29, 20);
	}

	// .prices-block__tabs
	&__tabs {
		@include adaptiveValue('margin-top', 50, 30, 1110, 767.98, 1);
	}

	// .prices-block__wrapper
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
		@include adaptiveValue('gap', 30, 15, 1110, 767.98, 1);
		@include adaptiveValue('margin-top', 50, 30, 1110, 767.98, 1);
	}

	// .prices-block__item
	&__item {
	}
}

.tabs-prices {
	// .tabs-prices__navigation
	&__navigation {
		display: flex;
		justify-content: center;
		gap: rem(20);
	}

	// .tabs-prices__btn
	&__btn {
	}

	// .tabs-prices__content
	&__content {
	}

	// .tabs-prices__body
	&__body {
	}
}

.item-prices-block {
	border: 1px solid $gray-light;
	border-radius: rem(10);
	padding: rem(28) rem(20);

	@media (max-width: $mobile) {
		padding: rem(20) rem(15);
	}

	//item-prices-block--mod
	&--mod {
		background-color: $background;
		display: flex;
		align-items: center;
		position: relative;
		min-height: rem(150);
	}

	&__wrap {
		flex: 0 0 100%;
		position: relative;
		z-index: 1;
	}

	// .item-prices-block__icon
	&__icon {
		&::before {
			color: $purple;
			font-size: rem(25);
		}

		&:not(:last-child) {
			margin-bottom: rem(20);
		}

		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: rem(10);
			}
		}
	}

	// .item-prices-block__title
	&__title {
		font-weight: 500;
		line-height: math.div(22, 18);

		@media (min-width: $mobile) {
			max-width: 80%;
		}

		&:not(:last-child) {
			margin-bottom: em(10, 18);
		}
	}

	// .item-prices-block__text
	&__text {
		line-height: math.div(18, 14);
	}

	// .item-prices-block__link
	&__link {
	}

	// .item-prices-block__link-more
	&__link-more {
	}

	// .item-prices-block__image-ibg
	&__image-ibg {
		position: absolute;
		bottom: 0;
		right: 0;
		top: 0;
		width: 60%;
		z-index: 0;

		@media (max-width: $mobile) {
			width: 50%;
		}
	}
}
