._btn {
	display: inline-flex;
	justify-content: center;
	font-size: rem(16);
	line-height: math.div(23, 16);
	white-space: nowrap;
	padding: rem(15) rem(25);
	border-radius: rem(5);
	transition: all 0.3s ease 0s;

	@media (max-width: $mobile) {
		font-size: rem(14);
		padding: rem(10);
	}

	&--small {
		font-size: rem(12);
		line-height: math.div(17, 12);
		padding: rem(10) rem(20);

		@media (max-width: $mobile) {
			padding: rem(8) rem(10);
		}
	}

	&--white {
		color: $purple;
		background-color: $white;
		border: 1px solid $purple;

		@media (any-hover: hover) {
			&:hover {
				color: $white;
				background-color: $purple;
			}
		}
	}

	&--purple {
		color: $white;
		background-color: $purple;

		@media (any-hover: hover) {
			&:hover {
				background-color: $purple-hover;
			}
		}
	}

	&--orange {
		color: $white;
		background-color: $orange;

		@media (any-hover: hover) {
			&:hover {
				background-color: $orange-hover;
			}
		}
	}

	&--gray {
		color: $gray;
		background-color: $background;
		border: 1px solid transparent;

		@media (any-hover: hover) {
			&:hover {
				color: $purple;
				background-color: $white;
				border: 1px solid $purple;
			}
		}

		&._tab-active {
			color: $purple;
			background-color: $white;
			border: 1px solid $purple;
			cursor: default;
		}
	}

	&--outline {
		background-color: $white;
		border: 1px solid transparent;

		@media (any-hover: hover) {
			&:hover {
				color: $white;
				background-color: transparent;
				border: 1px solid $white;
			}
		}
	}

	&--outline-purple {
		color: $purple;
	}

	&--outline-black {
		color: $mainColor;
	}

	&--outline-orange {
		color: $orange;
	}

	&--outline-blue {
		color: $blue;
	}

	&--fw {
		width: 100%;
	}
}

._btn-play {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	color: $purple;
	background-color: $white;
	border-radius: 50%;
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background-color: $purple;
			color: $white;
		}
	}

	&::before {
		transform: translate(5%, 0);
	}

	&--xl {
		@include adaptiveValue('width', 136, 45, 1110, 767.98, 1);
		@include adaptiveValue('height', 136, 45, 1110, 767.98, 1);
		@include adaptiveValue('font-size', 35, 15, 1110, 767.98, 1);
	}

	&--md {
		@include adaptiveValue('width', 100, 35, 1110, 767.98, 1);
		@include adaptiveValue('height', 100, 35, 1110, 767.98, 1);
		@include adaptiveValue('font-size', 25, 12, 1110, 767.98, 1);
	}

	&--sm {
		@include adaptiveValue('width', 68, 30, 1110, 767.98, 1);
		@include adaptiveValue('height', 68, 30, 1110, 767.98, 1);
		@include adaptiveValue('font-size', 20, 8, 1110, 767.98, 1);
	}
}

// 136
// 100
// 68
//
